table {
    border-collapse: collapse;
    top: 4em;
}

.timelineContainer {
    overflow-x: scroll;
}

pre {
    overflow-x: scroll;
}

td {
    border: 1px solid black;
    padding: 20px;
    vertical-align: top;
}

img {
    width: 250px;
}

.testFailed {
    color: #ff6600;
}

.snapshot {
    display: none;
}